// 颜色定义规范
$color-background: #eee;
$color-header: #8b8d99;
$color-title: #000;
$color-text: #333;
$color-text-d: #999;
$color-theme: #8b8d99;
$color-white: #fff;
$color-tab-icon: #d2aa74;





$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

//字体定义规范
$font-size-small-s: .2rem;
$font-size-small: .24rem;
$font-size-medium: .26rem;
$font-size-medium-x: .32rem;
$font-size-large: .36rem;
$font-size-large-x: .38rem;
$font-size-tab-icon: .75rem;
