// 颜色定义规范
$color-background: #eee;
$color-header: #8b8d99;
$color-title: #000;
$color-text: #333;
$color-text-d: #999;
$color-text-l: #666;
$color-theme: #8b8d99;
$color-sub-theme: #d2aa74;
$color-white: #fff;
$color-border: #e6e6e6;
$color-nav-back: rgba(0,0,0,.2);
$color-list-bg: #f2f2f2;

//字体定义规范
$font-size-small-s: .2rem;
$font-size-small: .24rem;
$font-size-medium: .26rem;
$font-size-medium-x: .32rem;
$font-size-large: .36rem;
$font-size-large-x: .38rem;
$font-size-tab-icon: .75rem;
